<!doctype html>
<title>codesharing</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="<%= asset %>css/editor.css">
<script type="text/javascript" src="<%= asset %>lib/jquery.js"></script>
<script type="text/javascript" src="<%= asset %>lib/socket.io.js"></script>
<script type="text/javascript" src="<%= asset %>lib/emmet.js"></script>
<script type="text/javascript" src="<%= asset %>lib/ace/ace.js"></script>
<script type="text/javascript" src="<%= asset %>lib/ace/ext-emmet.js"></script>
<script type="text/javascript" src="<%= asset %>lib/ace/ext-language_tools.js"></script>
<script type="text/javascript" src="<%= asset %>node/modules/file.js"></script>
<script type="text/javascript" src="<%= asset %>node/modules/folder.js"></script>
<script type="text/javascript" src="<%= asset %>node/modules/rightClick.js"></script>
<script type="text/javascript" src="<%= asset %>node/modules/socket.js"></script>
<script type="text/javascript" src="<%= asset %>node/app/trigger.js"></script>
<script type="text/javascript" src="<%= asset %>node/modules/tab.js"></script>
<script type="text/javascript" src="<%= asset %>node/app/global.js"></script>
<script type="text/javascript" src="<%= asset %>node/app/init.js"></script>
<script type="text/javascript" src="<%= asset %>node/app/variables.js"></script>
<body>